/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/bulkpokok
/public/bulktandan
/public/qr
/public/storage
/public/qrcode.svg
resources/views/pengurusanPokokInduk/downloadQR.blade.php
/resources/views/laporan/fatherpalm/index.blade (2).php
/resources/views/laporan/motherpalm/index.blade (2).php
/.vs/Fgv-Laravel/v17/.wsuo
/.vs/Fgv-Laravel/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/Fgv-Laravel/FileContentIndex/0daba565-1844-4db1-9de6-73cd92a949c2.vsidx
/.vs/Fgv-Laravel/FileContentIndex/47133346-36a9-47e9-8834-16076f82644b.vsidx
/.vs/Fgv-Laravel/FileContentIndex/6fc41650-e76e-403b-976e-2fd10603c46e.vsidx
/.vs/Fgv-Laravel/FileContentIndex/a8f7b4fa-cad6-4c06-9d5b-31c7f1bac125.vsidx
/.vs/Fgv-Laravel/FileContentIndex/e73c0fd4-1073-4ceb-927d-d37f5c88d82b.vsidx
/.vs/Fgv-Laravel/FileContentIndex/5424cf3f-cf7f-4624-a832-2d25a732d8e2.vsidx
/.vs/Fgv-Laravel/FileContentIndex/277f47b0-466a-4145-89e5-dcbb3b206941.vsidx
/.vs/Fgv-Laravel/FileContentIndex/708f45ec-be01-4b04-b354-2f2f6cbcff29.vsidx
/.vs/Fgv-Laravel/FileContentIndex/read.lock
/.vs/Fgv-Laravel/FileContentIndex/8b6542a9-701c-4018-bb38-89ef268b9f31.vsidx
